.olMapClass {
    height: 300px;
    width: 100%;
}
#cardMap {
    padding: 0px;
}
.abds-card {
    height: 100%;
}
.abds-card .card-header {
    padding: .4rem 1.25rem;
}
.row{
    padding: 5px;
}
.cardHeaderIcon{
    padding-top: 5px;
}

#closeStatistics {
    display: none;
        color: #888;
    cursor: pointer;
}
#closeStatistics:hover {
    color: #000;
}

#toastDescribe {
    position: fixed;
    top: 20px;
    right: 20px;
}
#toastDescribe .toast-header {
    background-color: rgba(88, 170, 253, 0.4);
}

#mainChartNoData {
    display: none;
}

.togoQ{
    font-style: italic;
    font-size: smaller;
}

#downloadChartData {
    cursor: pointer;
}